.container {
    padding: 20px;
    margin: 20px;
    background-color: #c1c8e4;
    border-style: solid;
    border-color: darkgray;
    min-height: 800px;
    margin: 0 auto;
}
.table {
    margin: 10px 0px;
}
.table-row {
    border-bottom: 5px solid #5AB9EA;
}
